/* Start of CMSMS style sheet 'alphasights advisors styles' */
h1#pageTitle {
   color:#000;
}

p.strapLine {
    color:#000;
    width: 320px;
}

dl.runonlist {
   margin:0;padding:0;
   line-height:1.5em;
}

dl.runonlist dt{
  position:static;
width: 490px;

}

dl.runonlist dd{
  position:static;
   margin-left:0;
   padding-left:0;
}

h3 a{
    font-size:108%; font-weight: bold; text-decoration:none;

}

p.learnmore{
   text-align:right;
  font-size:0.9em;
}
/* End of 'alphasights advisors styles' */

