/* Start of CMSMS style sheet 'alphasights about styles' */
h1#pageTitle {
   color:#000;
}

p.strapLine {
    color:#000;
    width: 20em;
}

.peoplephoto {
    padding-right:15px;

}

#contactform{
    margin-top:0;	
}

#ccontactform fieldset{
    margin-top:0;	padding-top:0;
}

#ccontactform fieldset ol{
    margin-top:0;	padding-top:0;
}

#contactform .sidepanelelement {
    width:220px!important;
}

textarea#message {
    width:220px;	
   border: 1px solid #7C7573;
   padding:4px;
}

#telephone{
   display:none;
}
/* End of 'alphasights about styles' */

